img.imgFondo {
	background: white ;
	-webkit-animation-name: fondo;
	animation-name: fondo;
}

.message{
	position: relative;
  	width: 60%;
  	padding: 20px;
  	margin: 0 auto;
  	background: #fff;
  	background-color: rgba(255,255,255,0.97);
  	border-radius: 0 0 6px 6px;
  	box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

.message{
	/*display: block;
  	margin: 0 20px;*/
  	color: #66757f;
  	color: rgba(102,117,127,0.6);
  	font-size: 14px;
  	line-height: 16px;
  	text-align: center;
}

.remover{
	right:10px;
	top: 5px;
	text-decoration: none;;
	color: gray;	
  	padding: 0;
  	position: absolute;
}

a.remover:hover{
	text-decoration: none;
	color: gray;
}

.contenedor{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	background-color: #fff;
	position: relative;
  	width: auto;
	max-width:  835px;
}

.tituloForm{
	color: #292f33;
	font-size: 24px;
  	line-height: .8;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    margin-top: 20px;
}

.columna{
	margin-left: 100px;
}

.col-margen{
	margin-top: 20px;
}

.registro {
	background:  #f4f4f4;
	position: relative;
	color: #8899a6;
}

p{
	color: #8899a6;
  	font-size: 15px;
  	line-height: 31px;
  	text-shadow: none;
  	text-align: center;
  	margin-top: 5px;
}