.iconPersona{
  	width: 25px;
  	height: 25px;
  	margin-left: 100px;
  	margin-top: 10px;
}

.titulo{
  margin-top: 15px;
  margin-right: 50px;
  color: #2B7BB9;
  font-size: 15px;
	cursor: pointer;
}

.margen{
	margin-bottom: 0px;
}